.header {
  .logo-container {
    padding: 10px;
    background-color: #2ca2f9;
    overflow: hidden;
    height: 51px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;

    .head-logo {
      float: left;
      height: 100%;

      img {
        height: 100%;
      }
    }

    .head-search {
      float: right;
      height: 31px;
      padding: 3px 0;

      img {
        height: 100%;
      }
    }
  }
  .header-nav{
    position: fixed;
    top: 51px;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-around;
    height: 50px;
    line-height: 50px;
    &-item{
      font-size: 16px;
      padding: 0px 15px;
    }
    .is_active{
      font-size: 16px;
      color: #26a2ff;
      border-bottom: 1px solid #26a2ff;
    }
  }
}
