/* override */
.mint-cell {
  padding-left: 10px;
  min-height: 52px
}

.mint-cell-wrapper {
  background-image: none !important;
  // border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
}

.mint-cell-title {
padding-right: 10px !important;
}
.mint-tab-item {
  padding: 12px 0 !important;
}

.mint-tab-item-label {
  font-size: 16px !important;
}

.mint-navbar .mint-tab-item.is-selected{
  margin-bottom: 0;
}
.mt-swipe{
  height: 150px !important;
}
.mint-cell-wrapper {
  font-size: 16px !important;
}
.mint-cell-title {
  text-align: left !important;
  font-size: 16px !important;
}
.mint-cell:last-child {
  background-image: none !important;  
}